$background-color: #2A2E37;
$search-bg-color: #242628;
$search-input-color: #000;
$icon-color: #fff;
$white: #ffffff;
$red: #ff0000;
$transition: all .5s ease;
$paragraph-font-family: 'Open Sans',
sans-serif;
$semi-bold: 600;
$text-summary:12px;
